h1 {
    text-align: center;
    font-family: "Lucida Console", cursive;
}

.A {
    border: 5px solid black;
    max-width: 800px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: rgb(128, 147, 157);
    font-family: 'Monaco', monospace; 
}


h3 {
    text-align: center;
    text-align: center;
    font-family: "Lucida Console", cursive;
}

.C {
    text-align: center;
    background-color: rgb(128, 147, 157);
    font-family: 'Brush Script M7', cursive;
    font-weight: 400;
    color: white

}

body {
    background-color: rgb(128, 147, 157);
  }