body {
    background-color: #8A939D;
    margin: 0;
    font-family: "Times New Roman", serif;
    color: #333;
}

h1, h3 {
    text-align: center;
    font-family: "Times New Roman", serif;
    color: #FFFFFF;
    background-color: #404D5C;
    margin: 20px auto;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.C {
    text-align: center;
    background-color: #404D5C;
    font-family: "Times New Roman", serif;
    font-weight: 400;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.A {
    max-width: 800px;
    text-align: right;
    padding: 20px 20px 20px 20px;
    background-color: rgb(128, 147, 157);
    font-family: 'Times New Roman', serif; 
}

button {
    background-color: #404D5C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #8A939D;
    transform: translateY(-3px);
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}